.image{
    position: relative;
    background-color: aliceblue;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    box-shadow: 0 18 53 0 rgba(0, 0, 0, 2);
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 10px 40px 0px black;
}

.Cardcontainer{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}

.image h3{
    position: absolute;
    color: azure;
    
}

.swipe{
    position: absolute;

}
