.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100; /* To always keep it on top  */
}

.profileclick{
    padding: 20px;
    z-index: 90;
}

.msgs{
    padding: 20px;
}

.logocenter{
    object-fit:scale-down;
    height: 50px;
    border-radius: 50%;
}